#wiki {
    background-color: white;
    font: 13px/1.5 sans-serif;
    margin: 0.3em 0;
    height: 1100px
}

.intro {
    text-align: justify;
    vertical-align: top;
    width: 70%;
    font-size: 150%;
    margin: 0 auto;
    padding: .5em 1em;
}
.main{
    margin-left: 18%;
    width: 80%;
    
}

.icon-container {
   margin-right: 7%;
    height: 175px;
    min-width: 150px;
    max-width: 350;
    line-height: 175px;
    display: inline-block;
    position: relative;
}

.icon-container a {
    width: 150px;
}

.icon {
    display: inline-block;
    
}
img {
    
    border: none;
    vertical-align: middle;
    width: 135
}

.footer {
    clear: both;
    text-align: center;
    width: 70%;
    margin: 10px auto;
    border-top: .5px solid #aaa;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    
}

footer li{
    display: inline;
    
}
footer a {
    text-decoration: none;
    padding: 5;
}